
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8AA6A3;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
main h1 {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: inherit;
}
.buy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 400px;
    border: 1px solid #127369;
}
.sell {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 400px;
    border: 1px solid #127369;
}
.sell h2,
.buy h2 {
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.row-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: auto;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
input[type=button]{
    cursor: pointer;
    background-color: #10403B;
}
.row-container input{
    width: 94%;
    margin: 5px 0;
    height: 30px;
    border: none;
    background-color: #BFBFBF;
    border-radius: 10px;
    outline: none;
}
.sell span,
.buy span {
    text-align: center;
    color: #fff;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
}
::placeholder{
    color: #10403B;
    padding-left: 5px;
}
.options button{
    width: 100px;
    height: 24px;
    border: none;
    background-color: #10403B;
    color: #BFBFBF;
    border-radius: 10px;
    cursor: pointer;
}
#opttions {
    height: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: #10403B;
    color: #fff;
    margin-bottom: 20px;
}
.fa-solid {
    color: #10403B;
}