* {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/img/ft.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: inherit;
    margin: 0;
    padding: 0;
}
.col-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    border-radius: 10px 10px 0 0 ;
    background: linear-gradient(0deg, rgba(108, 143, 183, 0.76), rgba(108, 143, 183, 0.76)),
    linear-gradient(245.82deg, #2DBCCA 39.12%, rgba(45, 188, 202, 0) 72.04%), #4B68BC;
}
.col-container-1 h1 {
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin-top: 8px;   
}
.col-container-1 h2 {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}
.row-info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 85%;
    height: 170px;
    margin: 8px;
    background-color: #000;
    
}
.row-value-invest {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 15px 0;
    padding: 0;
}
.row-value-invest h3{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight:300;
    color: #fff;
}
.row-value-invest span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #A3A8AF;
}
.row-value-milheiro,
.row-qtd-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}
.row-value-milheiro span,
.row-qtd-points span {
    font-family: 'Roboto', sans-serif;
    color: #A3A8AF;
    margin: 0 20px;
}
.warning {
    text-align: center;
    height: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #ff0000;
}

/* >>>>>>>>>>>>>>>>> PARTE DE DOS INPUTS <<<<<<<<<<<<<<< */

.col-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 0 0 10px 10px ;
    margin: 0;
    padding: 0;
}
.row-info-inputs {
    display: flex;
    align-self: baseline;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 85%;
    margin: 0;
    padding: 0;
}
.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    margin-top: 20px;
    padding-bottom: 10px;
}
.row-transfer {
    display: none;
}
.show-input-transfer{
    display: flex !important;
}
.input-group input {
    width: 30%;
    height: 20px;  
    border: none;
    border-bottom: 2px solid #4B68BC;
    background: none;
    padding-left: 5px;
    border-radius: 5px;
    color: #fff;
}
::placeholder{
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
}
.info-input{
    display: flex;
}
.info-input span {
    font-family: 'Raleway', sans-serif;
}
.row-select{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
}
.row-select select {
    width: 100%;
    height: 30px;
    border-radius: 7px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #4B68BC;
}
option{
    font-size: 0.9rem;
    color: #4B68BC;
}

.row-checkbox{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 8px;
}
.row-checkbox span {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}
.row-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.row-btn button {
    border-radius: 10px;
    width: 250px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #4B68BC;
}

/* >>>>>>>>>>>>>>> MENU FIXO <<<<<<<<<<<<< */
nav {
    width: 100%;
    height: 40px;
    max-width: 400px;
    background: linear-gradient(0deg, rgba(108, 143, 183, 0.76), rgba(108, 143, 183, 0.76)),
    linear-gradient(245.82deg, #2DBCCA 39.12%, rgba(45, 188, 202, 0) 72.04%), #4B68BC;
    position: fixed;
    bottom: 0;
    border-radius: 0 0 10px 10px ;
}
nav a {
    text-decoration: none;
    color: #fff;
}
ul {
    display: flex;
    justify-content: space-around;
}
ul li {
    list-style: none;
    margin: 10px 0;
}
i {
    cursor: pointer;
}